In [105]:
# Dependencies and Setup
import pandas as pd


# File to Load (using absolute path)
school_data = pd.read_csv(r"C:\Users\Rebecca Levine\Desktop\panda-challenge\Resources\schools_complete.csv")
student_data = pd.read_csv(r"C:\Users\Rebecca Levine\Desktop\panda-challenge\Resources\students_complete.csv")

                              
# # Read School and Student Data File and store into Pandas DataFrames
# school_data = pd.read_csv(school_data_csv)
# student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [107]:
# Calculate the total number of schools

number_of_schools = len(school_data_complete["school_name"].unique())
print(number_of_schools)

# Calculate the total number of students
number_of_students = len(school_data_complete["Student ID"])
print(number_of_students)

# Calculate the total budget
#Want to extract only school names and budgets, and find each school's budget. Then they can be summed.
school_budgets = (school_data_complete["school_name"].unique(), school_data_complete["budget"].unique())
print(school_budgets)
#Was possible to visually verify that the budgets are unique across schools so they can just be summed


total_budget = (school_data_complete["budget"].unique()).sum()
print(total_budget)

15
39170
(array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object), array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64))
24649428

In [108]:
# Calculate the average math score
average_math_score = (school_data_complete["math_score"].mean())
print(average_math_score)

# Calculate the average reading score
average_reading_score = (school_data_complete["reading_score"].mean())
print(average_reading_score)

78.98537145774827
81.87784018381414

In [127]:
# Calculate the percentage of students with a passing math score (70 or greater)


students_passing_math  = school_data_complete.loc[(school_data_complete["math_score"]>= 70), :]
(len(students_passing_math))
print(number_of_students)

#From earlier calculation, total students is number_of_students
#pp will now stand for percent passing
pp_math = ((len(students_passing_math))/number_of_students)*100
pp_math

rounded_pp_math = round(pp_math)
print(rounded_pp_math)


# Calculate the percentage of students with a passing reading score (70 or greater)

students_passing_reading  = school_data_complete.loc[(school_data_complete["reading_score"]>= 70), :]
print(len(students_passing_reading))

pp_reading = ((len(students_passing_reading))/number_of_students)*100
pp_reading

rounded_pp_reading = round(pp_reading)
print(rounded_pp_reading)



# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_reading_and_math = school_data_complete.loc[(school_data_complete["reading_score"]>= 70) & (school_data_complete["math_score"]>= 70), :]
print(len(passing_reading_and_math))

pp_reading_and_math = ((len(passing_reading_and_math))/number_of_students)*100
pp_reading_and_math
                                    
rounded_pp_reading_and_math = round(pp_reading_and_math)
print(rounded_pp_reading_and_math)

39170
75
33610
86
25528
65

In [130]:
###### SUMMARY OF GENERATED VALUES ################################################
# number_of_schools
# number_of_students
# total_budget
# average_math_score
# average_reading_score 
# rounded_pp_math
# rounded_pp_reading
# rounded_pp_reading_and_math

# training_df = pd.DataFrame({
#     "Name":["Gino Walker","Hiedi Wasser","Kerrie Wetzel","Elizabeth Sackett","Jack Mitten","Madalene Wayman","Jamee Horvath","Arlena Reddin","Tula Levan","Teisha Dreier","Leslie Carrier","Arlette Hartson","Romana Merkle","Heath Viviani","Andres Zimmer","Allyson Osman","Yadira Caggiano","Jeanmarie Friedrichs","Leann Ussery","Bee Mom","Pandora Charland","Karena Wooten","Elizabet Albanese","Augusta Borjas","Erma Yadon","Belia Lenser","Karmen Sancho","Edison Mannion","Sonja Hornsby","Morgan Frei","Florencio Murphy","Christoper Hertel","Thalia Stepney","Tarah Argento","Nicol Canfield","Pok Moretti","Barbera Stallings","Muoi Kelso","Cicely Ritz","Sid Demelo","Eura Langan","Vanita An","Frieda Fuhr","Ernest Fitzhenry","Ashlyn Tash","Melodi Mclendon","Rochell Leblanc","Jacqui Reasons","Freeda Mccroy","Vanna Runk","Florinda Milot","Cierra Lecompte","Nancey Kysar","Latasha Dalton","Charlyn Rinaldi","Erline Averett","Mariko Hillary","Rosalyn Trigg","Sherwood Brauer","Hortencia Olesen","Delana Kohut","Geoffrey Mcdade","Iona Delancey","Donnie Read","Cesar Bhatia","Evia Slate","Kaye Hugo","Denise Vento","Lang Kittle","Sherry Whittenberg","Jodi Bracero","Tamera Linneman","Katheryn Koelling","Tonia Shorty","Misha Baxley","Lisbeth Goering","Merle Ladwig","Tammie Omar","Jesusa Avilla","Alda Zabala","Junita Dogan","Jessia Anglin","Peggie Scranton","Dania Clodfelter","Janis Mccarthy","Edmund Galusha","Tonisha Posey","Arvilla Medley","Briana Barbour","Delfina Kiger","Nia Lenig","Ricarda Bulow","Odell Carson","Nydia Clonts","Andree Resendez","Daniela Puma","Sherill Paavola","Gilbert Bloomquist","Shanon Mach","Justin Bangert","Arden Hokanson","Evelyne Bridge","Hee Simek","Ward Deangelis","Jodie Childs","Janis Boehme","Beaulah Glowacki","Denver Stoneham","Tarra Vinton","Deborah Hummell","Ulysses Neil","Kathryn Marques","Rosanna Dake","Gavin Wheat","Tameka Stoke","Janella Clear","Kaye Ciriaco","Suk Bloxham","Gracia Whaley","Philomena Hemingway","Claudette Vaillancourt","Olevia Piche","Trey Chiles","Idalia Scardina","Jenine Tremble","Herbert Krider","Alycia Schrock","Miss Weibel","Pearlene Neidert","Kina Callender","Charlotte Skelley","Theodora Harrigan","Sydney Shreffler","Annamae Trinidad","Tobi Mumme","Rosia Elliot","Debbra Putt","Rena Delosantos","Genna Grennan","Nieves Huf","Berry Lugo","Ayana Verdugo","Joaquin Mazzei","Doris Harmon","Patience Poss","Magaret Zabel","Marylynn Hinojos","Earlene Marcantel","Yuki Evensen","Rema Gay","Delana Haak","Patricia Fetters","Vinnie Elrod","Octavia Bellew","Burma Revard","Lakenya Kato","Vinita Buchner","Sierra Margulies","Shae Funderburg","Jenae Groleau","Louetta Howie","Astrid Duffer","Caron Altizer","Kymberly Amavisca","Mohammad Diedrich","Thora Wrinkle","Bethel Wiemann","Patria Millet","Eldridge Burbach","Alyson Eddie","Zula Hanna","Devin Goodwin","Felipa Kirkwood","Kurtis Kempf","Kasey Lenart","Deena Blankenship","Kandra Wargo","Sherrie Cieslak","Ron Atha","Reggie Barreiro","Daria Saulter","Tandra Eastman","Donnell Lucious","Talisha Rosner","Emiko Bergh","Terresa Launius","Margy Hoobler","Marylou Stelling","Lavonne Justice","Kala Langstaff","China Truett","Louanne Dussault","Thomasena Samaniego","Charlesetta Tarbell","Fatimah Lade","Malisa Cantero","Florencia Litten","Francina Fraise","Patsy London","Deloris Mclaughlin"],
#     "Trainer":['Bettyann Savory','Mariah Barberio','Gordon Perrine','Pa Dargan','Blanch Victoria','Aldo Byler','Aldo Byler','Williams Camire','Junie Ritenour','Gordon Perrine','Bettyann Savory','Mariah Barberio','Aldo Byler','Barton Stecklein','Bettyann Savory','Barton Stecklein','Gordon Perrine','Pa Dargan','Aldo Byler','Brittani Brin','Bettyann Savory','Phyliss Houk','Bettyann Savory','Junie Ritenour','Aldo Byler','Calvin North','Brittani Brin','Junie Ritenour','Blanch Victoria','Brittani Brin','Bettyann Savory','Blanch Victoria','Mariah Barberio','Bettyann Savory','Blanch Victoria','Brittani Brin','Junie Ritenour','Pa Dargan','Gordon Perrine','Phyliss Houk','Pa Dargan','Mariah Barberio','Phyliss Houk','Phyliss Houk','Calvin North','Williams Camire','Brittani Brin','Gordon Perrine','Bettyann Savory','Bettyann Savory','Pa Dargan','Phyliss Houk','Barton Stecklein','Blanch Victoria','Coleman Dunmire','Phyliss Houk','Blanch Victoria','Pa Dargan','Harland Coolidge','Calvin North','Bettyann Savory','Phyliss Houk','Bettyann Savory','Harland Coolidge','Gordon Perrine','Junie Ritenour','Harland Coolidge','Blanch Victoria','Mariah Barberio','Coleman Dunmire','Aldo Byler','Bettyann Savory','Gordon Perrine','Bettyann Savory','Barton Stecklein','Harland Coolidge','Aldo Byler','Aldo Byler','Pa Dargan','Junie Ritenour','Brittani Brin','Junie Ritenour','Gordon Perrine','Mariah Barberio','Mariah Barberio','Mariah Barberio','Bettyann Savory','Brittani Brin','Aldo Byler','Phyliss Houk','Blanch Victoria','Pa Dargan','Phyliss Houk','Brittani Brin','Barton Stecklein','Coleman Dunmire','Bettyann Savory','Bettyann Savory','Gordon Perrine','Blanch Victoria','Junie Ritenour','Phyliss Houk','Coleman Dunmire','Williams Camire','Harland Coolidge','Williams Camire','Aldo Byler','Harland Coolidge','Gordon Perrine','Brittani Brin','Coleman Dunmire','Calvin North','Phyliss Houk','Brittani Brin','Aldo Byler','Bettyann Savory','Brittani Brin','Gordon Perrine','Calvin North','Harland Coolidge','Coleman Dunmire','Harland Coolidge','Aldo Byler','Junie Ritenour','Blanch Victoria','Harland Coolidge','Blanch Victoria','Junie Ritenour','Harland Coolidge','Junie Ritenour','Gordon Perrine','Brittani Brin','Coleman Dunmire','Williams Camire','Junie Ritenour','Brittani Brin','Calvin North','Barton Stecklein','Barton Stecklein','Mariah Barberio','Coleman Dunmire','Bettyann Savory','Mariah Barberio','Pa Dargan','Barton Stecklein','Coleman Dunmire','Brittani Brin','Barton Stecklein','Pa Dargan','Barton Stecklein','Junie Ritenour','Bettyann Savory','Williams Camire','Pa Dargan','Calvin North','Williams Camire','Coleman Dunmire','Aldo Byler','Barton Stecklein','Coleman Dunmire','Blanch Victoria','Mariah Barberio','Mariah Barberio','Harland Coolidge','Barton Stecklein','Phyliss Houk','Pa Dargan','Bettyann Savory','Barton Stecklein','Harland Coolidge','Junie Ritenour','Pa Dargan','Mariah Barberio','Blanch Victoria','Williams Camire','Phyliss Houk','Phyliss Houk','Coleman Dunmire','Mariah Barberio','Gordon Perrine','Coleman Dunmire','Brittani Brin','Pa Dargan','Coleman Dunmire','Brittani Brin','Blanch Victoria','Coleman Dunmire','Gordon Perrine','Coleman Dunmire','Aldo Byler','Aldo Byler','Mariah Barberio','Williams Camire','Phyliss Houk','Aldo Byler','Williams Camire','Aldo Byler','Williams Camire','Coleman Dunmire','Phyliss Houk'],
#     "Weight":[128,180,193,177,237,166,224,208,177,241,114,161,162,151,220,142,193,193,124,130,132,141,190,239,213,131,172,127,184,157,215,122,181,240,218,205,239,217,234,158,180,131,194,171,177,110,117,114,217,123,248,189,198,127,182,121,224,111,151,170,188,150,137,231,222,186,139,175,178,246,150,154,129,216,144,198,228,183,173,129,157,199,186,232,172,157,246,239,214,161,132,208,187,224,164,177,175,224,219,235,112,241,243,179,208,196,131,207,182,233,191,162,173,197,190,182,231,196,196,143,250,174,138,135,164,204,235,192,114,179,215,127,185,213,250,213,153,217,176,190,119,167,118,208,113,206,200,236,159,218,168,159,156,183,121,203,215,209,179,219,174,220,129,188,217,250,166,157,112,236,182,144,189,243,238,147,165,115,160,134,245,174,238,157,150,184,174,134,134,248,199,165,117,119,162,112,170,224,247,217],
#     "Membership(Days)":[52,70,148,124,186,157,127,155,37,185,158,129,93,69,124,13,76,153,164,161,48,121,167,69,39,163,7,34,176,169,108,162,195,86,155,77,197,200,80,142,179,67,58,145,188,147,125,15,13,173,125,4,61,29,132,110,62,137,197,135,162,174,32,151,149,65,18,42,63,62,104,200,189,40,38,199,1,12,8,2,195,30,7,72,130,144,2,34,200,143,43,196,22,115,171,54,143,59,14,52,109,115,187,185,26,19,178,18,120,169,45,52,130,69,168,178,96,22,78,152,39,51,118,130,60,156,108,69,103,158,165,142,86,91,117,77,57,169,86,188,97,111,22,83,81,177,163,35,12,164,21,181,171,138,22,107,58,51,38,128,19,193,157,13,104,89,13,10,26,190,179,101,7,159,100,49,120,109,56,199,51,108,47,171,69,162,74,119,148,88,32,159,65,146,140,171,88,18,59,13]
# })

# schools_summary_df = pd.Dataframe({
#     "Totals" : [number_of_schools, number_of_students, total_budget],
#     "Average Scores" : [average_math_score, average_reading_score ],
#     "Percent of Students Passing" : [rounded_pp_math, rounded_pp_reading, rounded_pp_reading_and_math]
#     })
# print(schools_summary_df)

# Create a dataframe to hold the above results
# scores_df = pd.DataFrame(["Math and Reading Scores"])
# scores_df.set_index("Math and Reading Scores")


# #returns only titles and variable numbers.. need to figure out how to import values
# # training_df["Membership (Weeks)"] = weeks
# scores_df["Average Scores"] = average_math_score, average_reading_score
# scores_df["Percent of Passing Students"] = rounded_pp_reading, rounded_pp_math, rounded_pp_reading_and_math
# scores_df.head()

# You can pass in a dictionary for the data when you create the DataFrame:

# >>> import pandas as pd
# >>> d = {
# ...     'Algothime': ['KNN', 'SVM', 'MLP'],
# ...     'Param. 1': ['-', '-', '-'],
# ...     'Param. 2': ['-', '-', '-'],
# ...     'Plage param. 1': ['-', '-', '-'],
# ...     'Plage param. 2': ['-', '-', '-']
# ... }
# >>> df = pd.DataFrame(data=d)
# >>> df

# Optional: give the displayed data cleaner formatting

In [138]:
# Create an overview table that summarizes key metrics about each school, including:

by_school_df = school_data_complete.groupby("school_name")
by_school_df.describe()


# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results


# school_metrics.head()

# df.groupby("product_group")["sales_qty"].mean()

                      Student ID                                           \
                           count     mean          std      min       25%
school_name
Bailey High School        4976.0  20358.5  1436.591800  17871.0  19114.75
Cabrera High School       1858.0  16941.5   536.502718  16013.0  16477.25
Figueroa High School      2949.0   4391.0   851.447297   2917.0   3654.00
Ford High School          2739.0  36165.0   790.825518  34796.0  35480.50
Griffin High School       1468.0  12995.5   423.919411  12262.0  12628.75
Hernandez High School     4635.0   9944.0  1338.153579   7627.0   8785.50
Holden High School         427.0  23060.0   123.408536  22847.0  22953.50
Huang High School         2917.0   1458.0   842.209693      0.0    729.00
Johnson High School       4761.0  32415.0  1374.526646  30035.0  31225.00
Pena High School           962.0  23754.5   277.849780  23274.0  23514.25
Rodriguez High School     3999.0  28035.0  1154.556192  26036.0  27035.50
Shelton High School       1761.0   6746.0   508.501229   5866.0   6306.00
Thomas High School        1635.0  38352.0   472.128161  37535.0  37943.50
Wilson High School        2283.0  14871.0   659.189654  13730.0  14300.50
Wright High School        1800.0  25135.5   519.759560  24236.0  24685.75

                                                  reading_score             \
                           50%       75%      max         count       mean
school_name
Bailey High School     20358.5  21602.25  22846.0        4976.0  81.033963
Cabrera High School    16941.5  17405.75  17870.0        1858.0  83.975780
Figueroa High School    4391.0   5128.00   5865.0        2949.0  81.158020
Ford High School       36165.0  36849.50  37534.0        2739.0  80.746258
Griffin High School    12995.5  13362.25  13729.0        1468.0  83.816757
Hernandez High School   9944.0  11102.50  12261.0        4635.0  80.934412
Holden High School     23060.0  23166.50  23273.0         427.0  83.814988
Huang High School       1458.0   2187.00   2916.0        2917.0  81.182722
Johnson High School    32415.0  33605.00  34795.0        4761.0  80.966394
Pena High School       23754.5  23994.75  24235.0         962.0  84.044699
Rodriguez High School  28035.0  29034.50  30034.0        3999.0  80.744686
Shelton High School     6746.0   7186.00   7626.0        1761.0  83.725724
Thomas High School     38352.0  38760.50  39169.0        1635.0  83.848930
Wilson High School     14871.0  15441.50  16012.0        2283.0  83.989488
Wright High School     25135.5  25585.25  26035.0        1800.0  83.955000

                       ...    size          budget                             \
                       ...     75%     max   count       mean  std        min
school_name            ...
Bailey High School     ...  4976.0  4976.0  4976.0  3124928.0  0.0  3124928.0
Cabrera High School    ...  1858.0  1858.0  1858.0  1081356.0  0.0  1081356.0
Figueroa High School   ...  2949.0  2949.0  2949.0  1884411.0  0.0  1884411.0
Ford High School       ...  2739.0  2739.0  2739.0  1763916.0  0.0  1763916.0
Griffin High School    ...  1468.0  1468.0  1468.0   917500.0  0.0   917500.0
Hernandez High School  ...  4635.0  4635.0  4635.0  3022020.0  0.0  3022020.0
Holden High School     ...   427.0   427.0   427.0   248087.0  0.0   248087.0
Huang High School      ...  2917.0  2917.0  2917.0  1910635.0  0.0  1910635.0
Johnson High School    ...  4761.0  4761.0  4761.0  3094650.0  0.0  3094650.0
Pena High School       ...   962.0   962.0   962.0   585858.0  0.0   585858.0
Rodriguez High School  ...  3999.0  3999.0  3999.0  2547363.0  0.0  2547363.0
Shelton High School    ...  1761.0  1761.0  1761.0  1056600.0  0.0  1056600.0
Thomas High School     ...  1635.0  1635.0  1635.0  1043130.0  0.0  1043130.0
Wilson High School     ...  2283.0  2283.0  2283.0  1319574.0  0.0  1319574.0
Wright High School     ...  1800.0  1800.0  1800.0  1049400.0  0.0  1049400.0


                             25%        50%        75%        max
school_name
Bailey High School     3124928.0  3124928.0  3124928.0  3124928.0
Cabrera High School    1081356.0  1081356.0  1081356.0  1081356.0
Figueroa High School   1884411.0  1884411.0  1884411.0  1884411.0
Ford High School       1763916.0  1763916.0  1763916.0  1763916.0
Griffin High School     917500.0   917500.0   917500.0   917500.0
Hernandez High School  3022020.0  3022020.0  3022020.0  3022020.0
Holden High School      248087.0   248087.0   248087.0   248087.0
Huang High School      1910635.0  1910635.0  1910635.0  1910635.0
Johnson High School    3094650.0  3094650.0  3094650.0  3094650.0
Pena High School        585858.0   585858.0   585858.0   585858.0
Rodriguez High School  2547363.0  2547363.0  2547363.0  2547363.0
Shelton High School    1056600.0  1056600.0  1056600.0  1056600.0
Thomas High School     1043130.0  1043130.0  1043130.0  1043130.0
Wilson High School     1319574.0  1319574.0  1319574.0  1319574.0
Wright High School     1049400.0  1049400.0  1049400.0  1049400.0

[15 rows x 48 columns]

In [134]:
# Sort and display the top five performing schools by % overall passing.
#top_performing_schools

In [113]:
# Sort and display the five worst-performing schools by % overall passing.
#bottom_performing_schools

In [114]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

In [115]:
# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

#math_scores_by_grade

In [116]:
# Perform the same operations as above for reading scores

# reading_scores_by_grade

In [117]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

# scores_by_school_spending

In [118]:
# Perform the same operations as above, based on school size.
#scores_by_school_type

In [119]:
# Perform the same operations as above, based on school type
#scores_by_school_type