In [202]:
# Dependencies and Setup
import pandas as pd

# File to Load (using absolute path)
school_data = pd.read_csv(r"C:\Users\Rebecca Levine\Desktop\panda-challenge\Resources\schools_complete.csv")
student_data = pd.read_csv(r"C:\Users\Rebecca Levine\Desktop\panda-challenge\Resources\students_complete.csv")

                              
# # Read School and Student Data File and store into Pandas DataFrames
# school_data = pd.read_csv(school_data_csv)
# student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [107]:
# Calculate the total number of schools

number_of_schools = len(school_data_complete["school_name"].unique())
print(number_of_schools)

# Calculate the total number of students
number_of_students = len(school_data_complete["Student ID"])
print(number_of_students)

# Calculate the total budget
#Want to extract only school names and budgets, and find each school's budget. Then they can be summed.
school_budgets = (school_data_complete["school_name"].unique(), school_data_complete["budget"].unique())
print(school_budgets)
#Was possible to visually verify that the budgets are unique across schools so they can just be summed


total_budget = (school_data_complete["budget"].unique()).sum()
print(total_budget)

15
39170
(array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object), array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64))
24649428

In [108]:
# Calculate the average math score
average_math_score = (school_data_complete["math_score"].mean())
print(average_math_score)

# Calculate the average reading score
average_reading_score = (school_data_complete["reading_score"].mean())
print(average_reading_score)

78.98537145774827
81.87784018381414

In [127]:
# Calculate the percentage of students with a passing math score (70 or greater)


students_passing_math  = school_data_complete.loc[(school_data_complete["math_score"]>= 70), :]
(len(students_passing_math))
print(number_of_students)

#From earlier calculation, total students is number_of_students
#pp will now stand for percent passing
pp_math = ((len(students_passing_math))/number_of_students)*100
pp_math

rounded_pp_math = round(pp_math)
print(rounded_pp_math)


# Calculate the percentage of students with a passing reading score (70 or greater)

students_passing_reading  = school_data_complete.loc[(school_data_complete["reading_score"]>= 70), :]
print(len(students_passing_reading))

pp_reading = ((len(students_passing_reading))/number_of_students)*100
pp_reading

rounded_pp_reading = round(pp_reading)
print(rounded_pp_reading)



# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_reading_and_math = school_data_complete.loc[(school_data_complete["reading_score"]>= 70) & (school_data_complete["math_score"]>= 70), :]
print(len(passing_reading_and_math))

pp_reading_and_math = ((len(passing_reading_and_math))/number_of_students)*100
pp_reading_and_math
                                    
rounded_pp_reading_and_math = round(pp_reading_and_math)
print(rounded_pp_reading_and_math)

39170
75
33610
86
25528
65

In [211]:
#I want to check if size is about the number of students for later use....
size_test = school_data_complete["size"].unique()
print(size_test)
students_maybe = size_test.sum()
print(students_maybe)

#It is, 39170 is the same amount I calculated above for total students

[2917 2949 1761 4635 1468 2283 1858 4976  427  962 1800 3999 4761 2739
 1635]
39170

In [156]:
###### SUMMARY OF GENERATED VALUES ################################################
# number_of_schools
# number_of_students
# total_budget
# average_math_score
# average_reading_score 
# rounded_pp_math
# rounded_pp_reading
# rounded_pp_reading_and_math

# Create a dataframe to hold the above results


# Optional: give the displayed data cleaner formatting

schools_summary_df = pd.DataFrame({"Total Number of Schools":[number_of_schools],"Total Number of Students": [number_of_students],
                    "Total Budget": [total_budget], "Average Math Score": [average_math_score],
                      "Average Reading Score":[average_reading_score],"Percent Passing Math":[rounded_pp_math],
                      "Percent Passing Reading":[rounded_pp_reading],
                      "Percent Passing Reading and Math": [rounded_pp_reading_and_math]})

#  [{"Total Number of Schools":number_of_schools},
#                       {"Total Number of Students":number_of_students},
#                       {"Total Budget": total_budget}, {"Average Math Score": average_math_score},
#                       {"Average Reading Score":average_reading_score},{"Percent Passing Math":rounded_pp_math},
#                       {"Percent Passing Reading":rounded_pp_reading},
#                       {"Percent Passing Reading and Math": rounded_pp_reading_and_math}]
# schools_summary_df = pd.DataFrame(schools_summary)


schools_summary_df.head()

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Reading and Math
0,15,39170,24649428,78.985371,81.87784,75,86,65

# School Summary

In [238]:
school_types = school_data.set_index("school_name")["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [250]:
school_pop = school_data.set_index("school_name")["size"]
school_pop

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [241]:
school_budget = school_data_complete.groupby("school_name").mean()["budget"]
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [270]:
per_student_budget = school_budget // school_pop
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [253]:
math_score_per_school = school_data_complete.groupby("school_name").mean()["math_score"]
r_math_score_per_school =round(math_score_per_school)
r_math_score_per_school

school_name
Bailey High School       77.0
Cabrera High School      83.0
Figueroa High School     77.0
Ford High School         77.0
Griffin High School      83.0
Hernandez High School    77.0
Holden High School       84.0
Huang High School        77.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    77.0
Shelton High School      83.0
Thomas High School       83.0
Wilson High School       83.0
Wright High School       84.0
Name: math_score, dtype: float64

In [254]:
reading_score_per_school = school_data_complete.groupby("school_name").mean()["reading_score"]
r_reading_score_per_school =round(reading_score_per_school)
r_reading_score_per_school

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.0
Ford High School         81.0
Griffin High School      84.0
Hernandez High School    81.0
Holden High School       84.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    81.0
Shelton High School      84.0
Thomas High School       84.0
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [280]:
#Collecting these values above in a Dataframe
per_school_summary = pd.DataFrame(     
    {
        "School Type": school_types,
         "Total Students": school_pop,
         "Total School Budget": school_budget,
        "Budget per Student" : per_student_budget,
        "Average Math Score": r_math_score_per_school,
        "Average Reading Score": r_reading_score_per_school  
     })
print(per_school_summary)

                      School Type  Total Students  Total School Budget  \
school_name
Bailey High School       District            4976            3124928.0
Cabrera High School       Charter            1858            1081356.0
Figueroa High School     District            2949            1884411.0
Ford High School         District            2739            1763916.0
Griffin High School       Charter            1468             917500.0
Hernandez High School    District            4635            3022020.0
Holden High School        Charter             427             248087.0
Huang High School        District            2917            1910635.0
Johnson High School      District            4761            3094650.0
Pena High School          Charter             962             585858.0
Rodriguez High School    District            3999            2547363.0
Shelton High School       Charter            1761            1056600.0
Thomas High School        Charter            1635            1043130.0
Wilson High School        Charter            2283            1319574.0
Wright High School        Charter            1800            1049400.0

                       Budget per Student  Average Math Score  \
school_name
Bailey High School                  628.0                77.0
Cabrera High School                 582.0                83.0
Figueroa High School                639.0                77.0
Ford High School                    644.0                77.0
Griffin High School                 625.0                83.0
Hernandez High School               652.0                77.0
Holden High School                  581.0                84.0
Huang High School                   655.0                77.0
Johnson High School                 650.0                77.0
Pena High School                    609.0                84.0
Rodriguez High School               637.0                77.0
Shelton High School                 600.0                83.0
Thomas High School                  638.0                83.0
Wilson High School                  578.0                83.0
Wright High School                  583.0                84.0

                       Average Reading Score
school_name
Bailey High School                      81.0
Cabrera High School                     84.0
Figueroa High School                    81.0
Ford High School                        81.0
Griffin High School                     84.0
Hernandez High School                   81.0
Holden High School                      84.0
Huang High School                       81.0
Johnson High School                     81.0
Pena High School                        84.0
Rodriguez High School                   81.0
Shelton High School                     84.0
Thomas High School                      84.0
Wilson High School                      84.0
Wright High School                      84.0

In [272]:
From above
#students_passing_math  = school_data_complete.loc[(school_data_complete["math_score"]>= 70), :]
students_passing_math_per_school= 

# (len(students_passing_math))
# print(number_of_students)

# #From earlier calculation, total students is number_of_students
# #pp will now stand for percent passing
# pp_math = ((len(students_passing_math))/number_of_students)*100
# pp_math

# rounded_pp_math = round(pp_math)
# print(rounded_pp_math)


# # Calculate the percentage of students who passed math and reading (% Overall Passing)
# passing_reading_and_math = school_data_complete.loc[(school_data_complete["reading_score"]>= 70) & (school_data_complete["math_score"]>= 70), :]
# print(len(passing_reading_and_math))

# pp_reading_and_math = ((len(passing_reading_and_math))/number_of_students)*100
# pp_reading_and_math
                                    
# rounded_pp_reading_and_math = round(pp_reading_and_math)
# print(rounded_pp_reading_and_math)

# students_passing_math_per_school = school_data_complete.loc[(school_data_complete["math_score"]>= 70), :]
# s_p_m_p_s = (len(students_passing_math))
# print(s_p_m_p_s)

# # # #From earlier calculation, total students is number_of_students
# # # #pp will now stand for percent passing
# pp_math_ps = ((len(s_p_m_p_s))/school_pop)*100
# pp_math_ps

# students_passing_reading  = school_data_complete.loc[(school_data_complete["reading_score"]>= 70), :]
# print(len(students_passing_reading))

# pp_reading = ((len(students_passing_reading))/number_of_students)*100
# pp_reading

# rounded_pp_reading = round(pp_reading)
# print(rounded_pp_reading)

In [279]:
# Create an overview table that summarizes key metrics about each school
per_school_summary["Total School Budget"] = (per_school_summary["school_budget"]).map("${:,.2f}".format)

per_school_summary["Budget per Student"] = (per_school_summary["Budget per Student"]).map("${:,.2f}".format)
#per_school_summary["Average Math Score"] = (per_school_summary["Average Math Score"].map
# per_school_summary["School Type"] = (per_school_summary["school_types"]).map
# per_school_summary["Total Students"] = (per_school_summary["school_pop"]).map





#Adding new columns to calculate percents:
#school_metric_summary_df["% Passing Math"]
#school_metric_summary_df["% Passing Reading"]
#school_metric_summary_df["% Overall Passing]                                                
                                                 # # Add a new column that calculates the Poverty Rate
# census_2019_df["Poverty Rate (%)"] = census_2019_df["Total Population in Poverty"] / \
#                                         census_2019_df["Total Population"] * 100

# # Use Map to format all the columns
# file_df["INCOME"] = file_df["INCOME"].map("${:,.2f}".format)
# file_df["COSTS"] = file_df["COSTS"].map("${:,.2f}".format)
# file_df["PERCENT30"] = (file_df["PERCENT30"]*100).map("{:.1f}%".format)
# file_df["PERCENT3050"] = (file_df["PERCENT3050"]*100).map("{:.1f}%".format)
# file_df["PERCENT50"] = (file_df["PERCENT50"]*100).map("{:.1f}%".format)
# file_df["PERCENT_NODATA"] = (file_df["PERCENT_NODATA"]*100).map("{:.1f}%".format)
# file_df["PERCENT_NOBURDEN"] = (file_df["PERCENT_NOBURDEN"]*100).map("{:.1f}%".format)
# file_df["TOTAL"] = file_df["TOTAL"].map("{:,}".format)
# file_df.head()



#school_metric_summary_df[""]



# Create a dataframe to hold the above results

SyntaxError: unexpected EOF while parsing (377215467.py, line 40)

# Top Performing Schools (By % Overall Passing)

In [134]:
# Sort and display the top five performing schools by % overall passing.
#top_performing_schools = "DF"sort_values("Usage", ascending=True)



# Sort the data by Poverty Rate and Average Per Capita Income by County, Highest to Lowest
# poverty_sorted_df = census_2019_df.sort_values(["Poverty Rate (%)", 
#                                              "Average Per Capita Income by County"],
#                                            ascending=False)

# # Reset Index
# poverty_sorted_df = poverty_sorted_df.reset_index(drop=True)
# poverty_sorted_df.head()
# # Reset the index so that the index is now based on the sorting locations
# electricity_df = electricity_df.reset_index(drop=True)

# # Save all of the information collected on the worst day
# worst_day = electricity_df.loc[0, :]
# worst_day

# Bottom Performing Schools (By % Overall Passing)

In [113]:
# Sort and display the five worst-performing schools by % overall passing.

#bottom_performing_schools = "DF"sort_values("Usage", ascending=True)

# Math Scores by Grade

In [114]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th)
#at each school.

# # Create the bins in which Data will be held
# bins = ["9th", "10th", "11th", "12th"]

# # Create the names for the five bins
# grade_level = ["9th", "10th", "11th", "12th"]

# #ADD CORRECT DF
# summary_df["Average Reading Score"] = pd.cut(summary_df["grade"], bins)
# #school_metric_summary_df = summary.df.groupby("School Metric Summaries")


# # Create a pandas series for each grade. Hint: use a conditional statement.


# Group each series by school
# .groupby
#school_metric_summary_df = summary_df.groupby("school_name")

In [115]:
# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

#math_scores_by_grade

# Reading Score by Grade

In [116]:
# Perform the same operations as above for reading scores

# reading_scores_by_grade

# Scores by School Spending

In [117]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

# scores_by_school_spending

# Scores by School Size

In [118]:
# Perform the same operations as above, based on school size.
#scores_by_school_type

# Scores by School Type

In [119]:
# Perform the same operations as above, based on school type
#scores_by_school_type